# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/
*.csv
*.json
*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db